body{
    background-color: #927df1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  .top{
  display: flex;
  align-items: center;
  gap: 50px;
  }
  
  .arrow{
    height: 150px;
    cursor: pointer;
    transform: rotate(550deg);
  }
  
  .right{
    height: 150px;
    cursor: pointer;
    transform: rotate(1deg);

  }
  
  .frame{
    width: 800px;
    height: 500px;
    overflow: hidden;
  }
  
  .slider{
    display: flex;
    transition: all 1s ease;
  }
  
  .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .bottom{
    display: flex;
    gap: 30px;
  }
  
  .button{
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
  }